In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
df = pd.read_csv('./data/brfss_reduced.csv')

In [3]:
df['DIABETE4'].describe()

count    377280.000000
mean          0.140771
std           0.347785
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIABETE4, dtype: float64

In [4]:
df['HAVARTH5'].isna().sum()

0

In [5]:
# *have arthritis*
df['HAVARTH5'].replace(2,0, inplace=True)
df['HAVARTH5'].replace([7,9],np.nan, inplace=True)
df['HAVARTH5'].describe()

count    375795.000000
mean          0.332093
std           0.470965
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HAVARTH5, dtype: float64

In [6]:
# drop JOINPAI2, relies on knowing they have arthritis
df = df.drop(['JOINPAI2'], axis=1)

In [7]:
df['MARITAL'].isna().sum()

1

In [8]:
df['MARITAL'].replace(9,np.nan, inplace=True)

In [9]:
# married
df['married'] = df['MARITAL']
df['married'].replace([2,3,4,5,6],0, inplace=True)
df['married'].describe()

count    374680.000000
mean          0.530866
std           0.499047
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: married, dtype: float64

In [10]:
# divorced
df['divorced'] = df['MARITAL']
df['divorced'].replace([1,3,4,5,6,9],0, inplace=True)
df['divorced'].replace(2,1, inplace=True)
df['divorced'].describe()

count    374680.000000
mean          0.127890
std           0.333968
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: divorced, dtype: float64

In [11]:
# widowed
df['widowed'] = df['MARITAL']
df['widowed'].replace([1,2,4,5,6,9],0, inplace=True)
df['widowed'].replace(3,1, inplace=True)
df['widowed'].describe()

count    374680.000000
mean          0.106235
std           0.308138
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: widowed, dtype: float64

In [12]:
# Separated
df['separated'] = df['MARITAL']
df['separated'].replace([1,2,3,5,6,9],0, inplace=True)
df['separated'].replace(4,1, inplace=True)
df['separated'].describe()

count    374680.000000
mean          0.018843
std           0.135970
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: separated, dtype: float64

In [13]:
# never_married
df['never_married'] = df['MARITAL']
df['never_married'].replace([1,2,3,4,6,9],0, inplace=True)
df['never_married'].replace(5,1, inplace=True)
df['never_married'].describe()

count    374680.000000
mean          0.175075
std           0.380032
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: never_married, dtype: float64

In [14]:
# unmarried_couple
df['unmarried_couple'] = df['MARITAL']
df['unmarried_couple'].replace([1,2,3,4,5,9],0, inplace=True)
df['unmarried_couple'].replace(6,1, inplace=True)
df['unmarried_couple'].describe()

count    374680.000000
mean          0.041091
std           0.198501
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unmarried_couple, dtype: float64

In [15]:
# drop MARITAL, marital status, data extracted above
df = df.drop(['MARITAL'], axis=1)

In [16]:
df['RENTHOM1'].isna().sum()

0

In [17]:
# own
df['own_house'] = df['RENTHOM1']
df['own_house'].replace([2,3],0, inplace=True)
df['own_house'].replace([7,9],np.nan, inplace=True)
df['own_house'].describe()

count    374993.000000
mean          0.719595
std           0.449198
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: own_house, dtype: float64

In [18]:
# rent
df['renting'] = df['RENTHOM1']
df['renting'].replace([1,3],0, inplace=True)
df['renting'].replace(2,1, inplace=True)
df['renting'].replace([7,9],np.nan, inplace=True)
df['renting'].describe()

count    374993.000000
mean          0.232999
std           0.422742
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: renting, dtype: float64

In [19]:
# other arrangement
df['other_arrangement_housing'] = df['RENTHOM1']
df['other_arrangement_housing'].replace([1,2],0, inplace=True)
df['other_arrangement_housing'].replace(3,1, inplace=True)
df['other_arrangement_housing'].replace([7,9],np.nan, inplace=True)
df['other_arrangement_housing'].describe()

count    374993.000000
mean          0.047406
std           0.212506
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: other_arrangement_housing, dtype: float64

In [20]:
# drop RENTHOM1, living status, data extracted above
df = df.drop(['RENTHOM1'], axis=1)

In [21]:
df['VETERAN3'].isna().sum()

1

In [22]:
#veteran
df['VETERAN3'].replace(2,0, inplace=True)
df['VETERAN3'].replace([7,9],np.nan, inplace=True)
df['VETERAN3'].describe()

count    377064.000000
mean          0.120441
std           0.325477
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: VETERAN3, dtype: float64

In [23]:
df['EMPLOY1'].isna().sum()

1

In [24]:
# employed for wages
df['employed_for_wages'] = df['EMPLOY1']
df['employed_for_wages'].replace([2,3,4,5,6,7,8],0, inplace=True)
df['employed_for_wages'].replace(9,np.nan, inplace=True)
df['employed_for_wages'].describe()

count    375087.000000
mean          0.435312
std           0.495799
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: employed_for_wages, dtype: float64

In [25]:
# self employed
df['self_employed'] = df['EMPLOY1']
df['self_employed'].replace([1,3,4,5,6,7,8],0, inplace=True)
df['self_employed'].replace(2,1, inplace=True)
df['self_employed'].replace(9,np.nan, inplace=True)
df['self_employed'].describe()

count    375087.000000
mean          0.087572
std           0.282671
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: self_employed, dtype: float64

In [26]:
# Out of work for 1 year or more
df['out_of_work_year_plus'] = df['EMPLOY1']
df['out_of_work_year_plus'].replace([1,2,4,5,6,7,8],0, inplace=True)
df['out_of_work_year_plus'].replace(3,1, inplace=True)
df['out_of_work_year_plus'].replace(9,np.nan, inplace=True)
df['out_of_work_year_plus'].describe()

count    375087.000000
mean          0.025890
std           0.158807
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_plus, dtype: float64

In [27]:
# Out of work for less than 1 year
df['out_of_work_year_less'] = df['EMPLOY1']
df['out_of_work_year_less'].replace([1,2,3,5,6,7,8],0, inplace=True)
df['out_of_work_year_less'].replace(4,1, inplace=True)
df['out_of_work_year_less'].replace(9,np.nan, inplace=True)
df['out_of_work_year_less'].describe()

count    375087.000000
mean          0.022293
std           0.147637
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_less, dtype: float64

In [28]:
# homemaker
df['homemaker'] = df['EMPLOY1']
df['homemaker'].replace([1,2,3,4,6,7,8],0, inplace=True)
df['homemaker'].replace(5,1, inplace=True)
df['homemaker'].replace(9,np.nan, inplace=True)
df['homemaker'].describe()

count    375087.000000
mean          0.040785
std           0.197793
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: homemaker, dtype: float64

In [29]:
# student
df['student'] = df['EMPLOY1']
df['student'].replace([1,2,3,4,5,7,8],0, inplace=True)
df['student'].replace(6,1, inplace=True)
df['student'].replace(9,np.nan, inplace=True)
df['student'].describe()

count    375087.000000
mean          0.025018
std           0.156181
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: student, dtype: float64

In [30]:
# retired
df['retired'] = df['EMPLOY1']
df['retired'].replace([1,2,3,4,5,6,8],0, inplace=True)
df['retired'].replace(7,1, inplace=True)
df['retired'].replace(9,np.nan, inplace=True)
df['retired'].describe()

count    375087.000000
mean          0.305468
std           0.460606
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: retired, dtype: float64

In [31]:
# unable_to_work
df['unable_to_work'] = df['EMPLOY1']
df['unable_to_work'].replace([1,2,3,4,5,6,7],0, inplace=True)
df['unable_to_work'].replace(8,1, inplace=True)
df['unable_to_work'].replace(9,np.nan, inplace=True)
df['unable_to_work'].describe()

count    375087.000000
mean          0.057661
std           0.233102
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unable_to_work, dtype: float64

In [32]:
df = df.drop(['EMPLOY1'], axis=1) #data extracted above

In [33]:
df['PREGNANT'].isna().sum()

306381

In [34]:
# PREGNANT
df['PREGNANT'].fillna(0, inplace=True)
df['PREGNANT'].replace(2,0, inplace=True)
df['PREGNANT'].replace([7,9],np.nan, inplace=True)
df['PREGNANT'].describe()

count    377501.000000
mean          0.005597
std           0.074606
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: PREGNANT, dtype: float64

In [35]:
df['DEAF'].isna().sum()

0

In [36]:
# deaf
df['DEAF'].replace(2,0, inplace=True)
df['DEAF'].replace([7,9],np.nan, inplace=True)
df['DEAF'].describe()

count    376790.000000
mean          0.086772
std           0.281502
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DEAF, dtype: float64

In [37]:
df['BLIND'].isna().sum()

0

In [38]:
# BLIND
df['BLIND'].replace(2,0, inplace=True)
df['BLIND'].replace([7,9],np.nan, inplace=True)
df['BLIND'].describe()

count    376966.000000
mean          0.049920
std           0.217779
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: BLIND, dtype: float64

In [39]:
df['DECIDE'].isna().sum()

0

In [40]:
# difficulty concentrating or remembering
df['DECIDE'].replace(2,0, inplace=True)
df['DECIDE'].replace([7,9],np.nan, inplace=True)
df['DECIDE'].describe()

count    375740.000000
mean          0.108588
std           0.311122
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DECIDE, dtype: float64

In [41]:
df['DIFFWALK'].isna().sum()

0

In [42]:
#Difficulty Walking or Climbing Stairs
df['DIFFWALK'].replace(2,0, inplace=True)
df['DIFFWALK'].replace([7,9],np.nan, inplace=True)
df['DIFFWALK'].describe()

count    376783.000000
mean          0.157900
std           0.364648
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFWALK, dtype: float64

In [43]:
df['DIFFDRES'].isna().sum()

0

In [44]:
#Difficulty Walking or Climbing Stairs
df['DIFFDRES'].replace(2,0, inplace=True)
df['DIFFDRES'].replace([7,9],np.nan, inplace=True)
df['DIFFDRES'].describe()

count    377429.000000
mean          0.039274
std           0.194245
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFDRES, dtype: float64

In [45]:
df['DIFFALON'].isna().sum()

0

In [46]:
# Difficulty Doing Errands Alone
df['DIFFALON'].replace(2,0, inplace=True)
df['DIFFALON'].replace([7,9],np.nan, inplace=True)
df['DIFFALON'].describe()

count    377429.000000
mean          0.039274
std           0.194245
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFDRES, dtype: float64

In [47]:
df['SMOKE100'].isna().sum()

0

In [48]:
# Smoked at Least 100 Cigarettes
df['SMOKE100'].replace(2,0, inplace=True)
df['SMOKE100'].replace([7,9],np.nan, inplace=True)
df['SMOKE100'].describe()

count    375688.000000
mean          0.403066
std           0.490514
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: SMOKE100, dtype: float64

In [49]:
df['SMOKDAY2'].isna().sum()

226453

In [50]:
df['SMOKDAY2'].fillna(0, inplace=True)
df['SMOKDAY2'].replace([7,9],np.nan, inplace=True)

In [51]:
# smoke every day
df['smoke_every_day'] = df['SMOKDAY2']
df['smoke_every_day'] = df['smoke_every_day'].replace([2,3],0)
df['smoke_every_day'].describe()

count    377617.000000
mean          0.092160
std           0.289251
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_every_day, dtype: float64

In [52]:
# smoke some days
df['smoke_some_days'] = df['SMOKDAY2']
df['smoke_some_days'] = df['smoke_some_days'].replace([1,3],0)
df['smoke_some_days'] = df['smoke_some_days'].replace(2,1)
df['smoke_some_days'].describe()

count    377617.000000
mean          0.035208
std           0.184304
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_some_days, dtype: float64

In [53]:
# smokes not at all
df['smoke_not_at_all'] = df['SMOKDAY2']
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace([1,2],0)
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace(3,1)
df['smoke_not_at_all'].describe()

count    377617.000000
mean          0.272943
std           0.445472
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: smoke_not_at_all, dtype: float64

In [54]:
df = df.drop(['SMOKDAY2'], axis=1)

In [55]:
df['USENOW3'].isna().sum()

1

In [56]:
df['USENOW3'].replace([7,9],np.nan, inplace=True)

In [57]:
# smokeless every day
df['smokeless_every_day'] = df['USENOW3']
df['smokeless_every_day'] = df['smokeless_every_day'].replace([2,3],0)
df['smokeless_every_day'].describe()

count    377469.000000
mean          0.018356
std           0.134237
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_every_day, dtype: float64

In [58]:
# smokeless some days
df['smokeless_some_days'] = df['USENOW3']
df['smokeless_some_days'] = df['smokeless_some_days'].replace([1,3],0)
df['smokeless_some_days'] = df['smokeless_some_days'].replace(2,1)
df['smokeless_some_days'].describe()

count    377469.000000
mean          0.012812
std           0.112461
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_some_days, dtype: float64

In [59]:
# smokeless not at all
df['smokeless_not_at_all'] = df['USENOW3']
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace([1,2],0)
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace(3,1)
df['smokeless_not_at_all'].describe()

count    377469.000000
mean          0.968832
std           0.173772
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: smokeless_not_at_all, dtype: float64

In [60]:
df = df.drop(['USENOW3'], axis=1)

In [61]:
df['ECIGNOW1'].isna().sum()

82

In [62]:
df['ECIGNOW1'].replace([7,9],np.nan, inplace=True)

In [63]:
# ecig every day
df['ecig_every_day'] = df['ECIGNOW1']
df['ecig_every_day'] = df['ecig_every_day'].replace([2,3,4],0)
df['ecig_every_day'].describe()

count    377373.000000
mean          0.021668
std           0.145598
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_every_day, dtype: float64

In [64]:
# ecig some days
df['ecig_some_days'] = df['ECIGNOW1']
df['ecig_some_days'] = df['ecig_some_days'].replace([1,3,4],0)
df['ecig_some_days'] = df['ecig_some_days'].replace(2,1)
df['ecig_some_days'].describe()

count    377373.000000
mean          0.024467
std           0.154493
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_some_days, dtype: float64

In [65]:
# ecig not at all
df['ecig_not_at_all'] = df['ECIGNOW1']
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace([1,2,4],0)
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace(3,1)
df['ecig_not_at_all'].describe()

count    377373.000000
mean          0.750597
std           0.432668
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: ecig_not_at_all, dtype: float64

In [66]:
# ecig never used
df['ecig_never_used'] = df['ECIGNOW1']
df['ecig_never_used'] = df['ecig_never_used'].replace([1,2,3],0)
df['ecig_never_used'] = df['ecig_never_used'].replace(4,1)
df['ecig_never_used'].describe()

count    377373.000000
mean          0.203268
std           0.402431
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_never_used, dtype: float64

In [67]:
df = df.drop(['ECIGNOW1'], axis=1)

In [68]:
df['ALCDAY5'].isna().sum()

0

In [69]:
# Days in past 30 had alcoholic beverage
df.loc[df['ALCDAY5'] < 110, 'ALCDAY5'] = (df.loc[df['ALCDAY5'] < 110, 'ALCDAY5']-100)*4
df.loc[(df['ALCDAY5'] < 231)&(df['ALCDAY5'] > 199), 'ALCDAY5'] -= 200
df['ALCDAY5'] = df['ALCDAY5'].replace(888,0)
df['ALCDAY5'] = df['ALCDAY5'].replace([777,999],np.nan)
df['ALCDAY5'].describe()

count    373876.000000
mean          4.843534
std           8.080738
min           0.000000
25%           0.000000
50%           1.000000
75%           5.000000
max          30.000000
Name: ALCDAY5, dtype: float64

In [70]:
df['AVEDRNK3'].isna().sum()

182421

In [71]:
df.loc[df['ALCDAY5'] == 0, 'AVEDRNK3'] = 0 # if alcday5 was 0 then avedrink is 0

In [72]:
df['AVEDRNK3'].isna().sum()

4007

In [73]:
# Avg alcoholic drinks per day in past 30
df['AVEDRNK3'].replace(88, 0, inplace=True)
df['AVEDRNK3'].replace([77,99], np.nan, inplace=True)
df['AVEDRNK3'].describe()

count    371209.000000
mean          1.150955
std           2.044765
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          76.000000
Name: AVEDRNK3, dtype: float64

In [74]:
df['DRNK3GE5'].isna().sum()

182423

In [75]:
df.loc[df['ALCDAY5'] == 0, 'DRNK3GE5'] = 0 # if alcday5 was 0 then DRNK3GE5 is 0

In [76]:
df['DRNK3GE5'].isna().sum()

4009

In [77]:
# binge drinking
df['DRNK3GE5'].replace(88, 0, inplace=True)
df['DRNK3GE5'].replace([77,99], np.nan, inplace=True)
df['DRNK3GE5'].describe()

count    371422.000000
mean          0.629893
std           2.914485
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          76.000000
Name: DRNK3GE5, dtype: float64

In [78]:
df['MAXDRNKS'].isna().sum()

182423

In [79]:
df.loc[df['ALCDAY5'] == 0, 'MAXDRNKS'] = 0 # if alcday5 was 0 then MAXDRNKS is 0
df['MAXDRNKS'].isna().sum()

4009

In [80]:
# max drinks on a single occassion
df['MAXDRNKS'].replace([77,99], np.nan, inplace=True)
df['MAXDRNKS'].describe()

count    367972.000000
mean          1.688732
std           2.895279
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          76.000000
Name: MAXDRNKS, dtype: float64

In [81]:
df['FLUSHOT7'].isna().sum()

0

In [82]:
# adult flu shot/spray past 12 months
df['FLUSHOT7'].replace(2, 0, inplace=True)
df['FLUSHOT7'].replace([7,9],np.nan, inplace=True)
df['FLUSHOT7'].describe()

count    375138.000000
mean          0.523775
std           0.499435
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLUSHOT7, dtype: float64

In [83]:
# drop FLSHTMY3, when received flu shot, too much based on specific years and will change as time passes a lot
df = df.drop(['FLSHTMY3'], axis=1)

In [84]:
df['PNEUVAC4'].isna().sum()

1

In [85]:
# adult flu shot/spray past 12 months
df['PNEUVAC4'].replace(2, 0, inplace=True)
df['PNEUVAC4'].replace([7,9],np.nan, inplace=True)
df['PNEUVAC4'].describe()

count    347640.000000
mean          0.403282
std           0.490557
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: PNEUVAC4, dtype: float64

In [86]:
df['HIVTST7'].isna().sum()

0

In [87]:
# Ever tested for HIV
df['HIVTST7'].replace(2, 0, inplace=True)
df['HIVTST7'].replace([7,9],np.nan, inplace=True)
df['HIVTST7'].describe()

count    358728.000000
mean          0.335176
std           0.472053
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HIVTST7, dtype: float64

In [88]:
df['PDIABTST'].isna().sum()

277516

In [89]:
# drop PDIABTST, had test for blood sugar, conditional question not asked if told had diabetes
df = df.drop(['PDIABTST'], axis=1)

In [90]:
# drop INSULIN1, taking insulin, conditional question not asked if told had diabetes
df = df.drop(['INSULIN1'], axis=1)

In [91]:
# do you live in a metropolitan area
df['_METSTAT'].replace(2, 0, inplace=True)
df['_METSTAT'].describe()

count    371494.000000
mean          0.693263
std           0.461140
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _METSTAT, dtype: float64

In [92]:
# do you live in a urban area
df['_URBSTAT'].replace(2, 0, inplace=True)
df['_URBSTAT'].describe()

count    371494.000000
mean          0.854633
std           0.352471
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _URBSTAT, dtype: float64

In [93]:
# white, non-hispanic
df['white'] = df['_IMPRACE']
df['white'].replace(range(2,7), 0, inplace=True)
df['white'].describe()

count    377880.000000
mean          0.766458
std           0.423085
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: white, dtype: float64

In [94]:
# black, non-hispanic
df['black'] = df['_IMPRACE']
df['black'].replace([1,3,4,5,6], 0, inplace=True)
df['black'].replace(2, 1, inplace=True)
df['black'].describe()

count    377880.000000
mean          0.070504
std           0.255995
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: black, dtype: float64

In [95]:
# Asian, non-hispanic
df['asian'] = df['_IMPRACE']
df['asian'].replace([1,2,4,5,6], 0, inplace=True)
df['asian'].replace(3, 1, inplace=True)
df['asian'].describe()

count    377880.000000
mean          0.025664
std           0.158132
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: asian, dtype: float64

In [96]:
# Native, non-hispanic
df['native'] = df['_IMPRACE']
df['native'].replace([1,2,3,5,6], 0, inplace=True)
df['native'].replace(4, 1, inplace=True)
df['native'].describe()

count    377880.000000
mean          0.016309
std           0.126663
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: native, dtype: float64

In [97]:
# Hispanic
df['hispanic'] = df['_IMPRACE']
df['hispanic'].replace([1,2,3,4,6], 0, inplace=True)
df['hispanic'].replace(5, 1, inplace=True)
df['hispanic'].describe()

count    377880.000000
mean          0.086075
std           0.280475
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: hispanic, dtype: float64

In [98]:
df = df.drop(['_IMPRACE'], axis=1) # data extracted above

In [99]:
df['_HLTHPLN'].isna().sum()

0

In [100]:
# health insurance
df['_HLTHPLN'].replace(2, 0, inplace=True)
df['_HLTHPLN'].replace(9,np.nan, inplace=True)
df['_HLTHPLN'].describe()

count    365333.000000
mean          0.947470
std           0.223094
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _HLTHPLN, dtype: float64

In [101]:
df['_AGE80'].isna().sum()

0

In [102]:
# age
df['_AGE80'].describe()

count    377880.000000
mean         54.709617
std          17.488837
min          18.000000
25%          41.000000
50%          57.000000
75%          69.000000
max          80.000000
Name: _AGE80, dtype: float64

In [103]:
df['HTIN4'].isna().sum()

9909

In [104]:
# height in inches
df['HTIN4'].describe()

count    367971.000000
mean         67.049903
std           4.177907
min          36.000000
25%          64.000000
50%          67.000000
75%          70.000000
max          95.000000
Name: HTIN4, dtype: float64

In [105]:
df['WTKG3'].isna().sum()

21273

In [106]:
# weight in kilograms
df['WTKG3'] /= 100
df['WTKG3'].describe()

count    356607.000000
mean       8327.375545
std        2141.156477
min        2268.000000
25%        6804.000000
50%        8119.000000
75%        9525.000000
max       29302.000000
Name: WTKG3, dtype: float64

In [107]:
df['_EDUCAG'].isna().sum()

0

In [108]:
df['_EDUCAG'].replace(9,np.nan,inplace=True)
df['_EDUCAG'].isna().sum()

1346

In [109]:
# Did not graduate High School
df['not_graduate_high_school'] = df['_EDUCAG']
df['not_graduate_high_school'].replace([2,3,4], 0, inplace=True)
df['not_graduate_high_school'].describe()

count    376534.000000
mean          0.054301
std           0.226610
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: not_graduate_high_school, dtype: float64

In [110]:
# Graduated High School
df['graduated_high_school'] = df['_EDUCAG']
df['graduated_high_school'].replace([1,3,4], 0, inplace=True)
df['graduated_high_school'].replace(2, 1, inplace=True)
df['graduated_high_school'].describe()

count    376534.000000
mean          0.246910
std           0.431214
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: graduated_high_school, dtype: float64

In [111]:
# Attended College or Technical School
df['attended_college'] = df['_EDUCAG']
df['attended_college'].replace([1,2,4], 0, inplace=True)
df['attended_college'].replace(3, 1, inplace=True)
df['attended_college'].describe()

count    376534.000000
mean          0.277404
std           0.447718
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: attended_college, dtype: float64

In [112]:
# Graduated from College
df['graduated_college'] = df['_EDUCAG']
df['graduated_college'].replace([1,2,3], 0, inplace=True)
df['graduated_college'].replace(4, 1, inplace=True)
df['graduated_college'].describe()

count    376534.000000
mean          0.421386
std           0.493782
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: graduated_college, dtype: float64

In [113]:
df = df.drop(['_EDUCAG'], axis=1) # data extracted above

In [114]:
df['_INCOMG1'].isna().sum()

0

In [115]:
df['_INCOMG1'].replace(9,np.nan, inplace=True)
df['_INCOMG1'].describe()

count    310561.000000
mean          4.371444
std           1.604624
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           7.000000
Name: _INCOMG1, dtype: float64

In [116]:
df['FTJUDA2_'].isna().sum()

4349

In [117]:
#fruit juice intake in times per day
df['FTJUDA2_'] /= 100
df['FTJUDA2_'].round(2)
df['FTJUDA2_'].describe()

count    3.735310e+05
mean     4.362214e-01
std      3.576845e+00
min      5.397605e-81
25%      5.397605e-81
50%      3.000000e-02
75%      2.900000e-01
max      9.900000e+01
Name: FTJUDA2_, dtype: float64

In [118]:
df['FRUTDA2_'].isna().sum()

4676

In [119]:
# Fruit intake in times per day
df['FRUTDA2_'] /= 100
df['FRUTDA2_'].round(2)
df['FRUTDA2_'].describe()

count    3.732040e+05
mean     1.334253e+00
std      4.913100e+00
min      5.397605e-81
25%      4.300000e-01
50%      1.000000e+00
75%      1.000000e+00
max      9.900000e+01
Name: FRUTDA2_, dtype: float64

In [120]:
df['GRENDA1_'].isna().sum()

0

In [121]:
# Dark Green Vegetable intake in times per day
df['GRENDA1_'] /= 100
df['GRENDA1_'].round(2)
df['GRENDA1_'].describe()

count    3.778800e+05
mean     7.894822e-01
std      4.633036e+00
min      5.397605e-81
25%      1.400000e-01
50%      4.300000e-01
75%      7.100000e-01
max      9.900000e+01
Name: GRENDA1_, dtype: float64

In [122]:
df['FRNCHDA_'].isna().sum()

0

In [123]:
# French Fry intake in times per day
df['FRNCHDA_'] /= 100
df['FRNCHDA_'].round(2)
df['FRNCHDA_'].describe()

count    3.778800e+05
mean     2.527462e-01
std      1.656265e+00
min      5.397605e-81
25%      3.000000e-02
50%      1.400000e-01
75%      2.900000e-01
max      9.900000e+01
Name: FRNCHDA_, dtype: float64

In [124]:
df['POTADA1_'].isna().sum()

0

In [125]:
# Potato Servings per day
df['POTADA1_'] /= 100
df['POTADA1_'].round(2)
df['POTADA1_'].describe()

count    3.778800e+05
mean     2.838135e-01
std      1.777598e+00
min      5.397605e-81
25%      7.000000e-02
50%      1.400000e-01
75%      2.900000e-01
max      9.900000e+01
Name: POTADA1_, dtype: float64

In [126]:
df['VEGEDA2_'].isna().sum()

0

In [127]:
# Other Vegetable intake in times per day
df['VEGEDA2_'] /= 100
df['VEGEDA2_'].round(2)
df['VEGEDA2_'].describe()

count    3.778800e+05
mean     1.388093e+00
std      6.451475e+00
min      5.397605e-81
25%      4.300000e-01
50%      9.300000e-01
75%      1.000000e+00
max      9.900000e+01
Name: VEGEDA2_, dtype: float64

In [128]:
# remove colums containing string values

print("No. of columns containing null values")
print(len(df.columns[df.isna().any()]))

print("No. of columns not containing null values")
print(len(df.columns[df.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(df.columns))

#df = df.dropna(axis=1)
#df.shape

No. of columns containing null values
80
No. of columns not containing null values
18
Total no. of columns in the dataframe
98

In [129]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'SEXVAR', 'GENHLTH', 'PHYSHLTH',
       'MENTHLTH', 'POORHLTH', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2',
       'BPMEDS', 'TOLDHI3', 'CHOLMED3', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3',
       'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD3', 'ADDEPEV3',
       'CHCKDNY2', 'DIABETE4', 'HAVARTH5', 'VETERAN3', 'PREGNANT', 'DEAF',
       'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'SMOKE100',
       'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'PNEUVAC4',
       'HIVTST7', '_METSTAT', '_URBSTAT', '_WT2RAKE', '_PHYS14D', '_HLTHPLN',
       '_AGE80', 'HTIN4', 'WTKG3', '_INCOMG1', 'FTJUDA2_', 'FRUTDA2_',
       'GRENDA1_', 'FRNCHDA_', 'POTADA1_', 'VEGEDA2_', '_MISFRT1',
       'high_blood_pressure', 'pregnant_high_blood_pressure',
       'borderline_high_blood_pressure', 'cholesterol_checked_within_year',
       'married', 'divorced', 'widowed', 'separated', 'never_married',
       'unmarried_couple', 'own_house', 'renting', 'other_arrangement_housing',
       'employed_for_wages', 'self_employed', 'out_of_work_year_plus',
       'out_of_work_year_less', 'homemaker', 'student', 'retired',
       'unable_to_work', 'smoke_every_day', 'smoke_some_days',
       'smoke_not_at_all', 'smokeless_every_day', 'smokeless_some_days',
       'smokeless_not_at_all', 'ecig_every_day', 'ecig_some_days',
       'ecig_not_at_all', 'ecig_never_used', 'white', 'black', 'asian',
       'native', 'hispanic', 'not_graduate_high_school',
       'graduated_high_school', 'attended_college', 'graduated_college'],
      dtype='object')

In [130]:
df = df.drop(df.columns[0:2],axis = 1)

In [131]:
df.columns

Index(['SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'BPMEDS', 'TOLDHI3', 'CHOLMED3',
       'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNCR',
       'CHCOCNCR', 'CHCCOPD3', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'HAVARTH5',
       'VETERAN3', 'PREGNANT', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK',
       'DIFFDRES', 'DIFFALON', 'SMOKE100', 'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5',
       'MAXDRNKS', 'FLUSHOT7', 'PNEUVAC4', 'HIVTST7', '_METSTAT', '_URBSTAT',
       '_WT2RAKE', '_PHYS14D', '_HLTHPLN', '_AGE80', 'HTIN4', 'WTKG3',
       '_INCOMG1', 'FTJUDA2_', 'FRUTDA2_', 'GRENDA1_', 'FRNCHDA_', 'POTADA1_',
       'VEGEDA2_', '_MISFRT1', 'high_blood_pressure',
       'pregnant_high_blood_pressure', 'borderline_high_blood_pressure',
       'cholesterol_checked_within_year', 'married', 'divorced', 'widowed',
       'separated', 'never_married', 'unmarried_couple', 'own_house',
       'renting', 'other_arrangement_housing', 'employed_for_wages',
       'self_employed', 'out_of_work_year_plus', 'out_of_work_year_less',
       'homemaker', 'student', 'retired', 'unable_to_work', 'smoke_every_day',
       'smoke_some_days', 'smoke_not_at_all', 'smokeless_every_day',
       'smokeless_some_days', 'smokeless_not_at_all', 'ecig_every_day',
       'ecig_some_days', 'ecig_not_at_all', 'ecig_never_used', 'white',
       'black', 'asian', 'native', 'hispanic', 'not_graduate_high_school',
       'graduated_high_school', 'attended_college', 'graduated_college'],
      dtype='object')

In [132]:
# Get names of columns with missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]


df_mis = df.copy()

for col in cols_with_missing:
    df_mis[col + '_was_missing'] = df_mis[col].isnull()
df_mis.describe()

,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2,BPMEDS,...,ecig_never_used,white,black,asian,native,hispanic,not_graduate_high_school,graduated_high_school,attended_college,graduated_college
count,377880.000000,377880.000000,371439.000000,372553.000000,374393.000000,375303.000000,377020.000000,373877.000000,377345.000000,377549.000000,...,377373.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,376534.000000,376534.000000,376534.000000,376534.000000
mean,0.538470,1.502662,3.776157,4.125131,2.742533,0.883156,0.073198,0.778128,0.763654,0.325791,...,0.203268,0.766458,0.070504,0.025664,0.016309,0.086075,0.054301,0.246910,0.277404,0.421386
std,0.498519,1.043368,8.303671,8.133648,7.011285,0.321235,0.260461,0.415506,0.424838,0.468670,...,0.402431,0.423085,0.255995,0.158132,0.126663,0.280475,0.226610,0.431214,0.447718,0.493782
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,4.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [133]:
df_mis.columns

Index(['SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'BPMEDS',
       ...
       'smokeless_some_days_was_missing', 'smokeless_not_at_all_was_missing',
       'ecig_every_day_was_missing', 'ecig_some_days_was_missing',
       'ecig_not_at_all_was_missing', 'ecig_never_used_was_missing',
       'not_graduate_high_school_was_missing',
       'graduated_high_school_was_missing', 'attended_college_was_missing',
       'graduated_college_was_missing'],
      dtype='object', length=176)

In [137]:
df_mis['ecig_some_days_was_missing'].value_counts()

False    377373
True        507
Name: ecig_some_days_was_missing, dtype: int64

In [ ]:
# imputation
#from sklearn.impute import SimpleImputer

#df_imputer = SimpleImputer()
#imputed_df = pd.DataFrame(df_imputer.fit_transform(df_mis))

#iterative imputer
#imputed_df.columns = df_mis.columns
#from fancyimpute import IterativeImputer

#imputed_df = IterativeImputer().fit_transform(df_mis)

#KNN
#from fancyimpute import KNN

#imputed_df = KNN(k=3).fit_transform(df_mis)

from sklearn.impute import KNNImputer

imputed_df = KNNImputer(n_neighbors=1).fit_transform(df_mis)

imputed_df.describe()

In [135]:
# remove colums containing string values

print("No. of columns containing null values")
print(len(imputed_df.columns[imputed_df.isna().any()]))

print("No. of columns not containing null values")
print(len(imputed_df.columns[imputed_df.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(imputed_df.columns))

#df = df.dropna(axis=1)
#df.shape

No. of columns containing null values

NameError: name 'imputed_df' is not defined

In [ ]:
#imputed_df.to_csv('./data/brfss_imputed.csv')